@font-face {
    font-family: "Poppins";
    src: url("./fonts/font_Poppins.ttf");
}

:root {
    --theme-dark-color: #050510;
    --nav-height: 50px;
    --font-color-categorie-0: #3060ff;
    --project-links-border-radius: 5px;
    --reveal-text-duration: 0.3s;
    --reveal-text-timing: ease-out;
    --separator-color: #909090;
    --curriculum-color-light: #3050a0;
    --moon-width: 100px;
    --moon-height: 100px;
    --knowledges-icon-divs-width: 60px; /* Largura das divs dos ícones de conhecimentos */
    --knowledges-icon-divs-height: 60px; /* Altura das divs dos ícones de conhecimentos */
    --knowledges-icon-divs-after-height: 80px; /* Altura do after das divs dos ícones de conhecimentos */
    --front-start-gradient: #007cf0; /* Cor 1: front-end */
    --front-end-gradient: #00dfd8; /* Cor 2: front-end */
    --back-start-gradient: #7928ca; /* Cor 1: back-end */
    --back-end-gradient: #ff0080; /* Cor 2: back-end */
    --db-start-gradient: #ff4d4d; /* Cor 1: data-base */
    --db-end-gradient: #f9cb28; /* Cor 2: data-base */
    --tools-start-gradient: #19b60b; /* Cor 1: data-base */
    --tools-end-gradient: #c1f928; /* Cor 2: data-base */
}

html {
    overflow-x: hidden;
}

h1, h3, a, p {
    color: #fff;
    margin: 0;
    font-family: "Poppins";
    text-decoration: none;
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

/* Página de portfolio*/
.portfolio-page {
    margin: 0;
    padding: 0;
}

/* Principal do portfólio */
#portfolio-main {
    filter: blur(0px);
    transition: all 0.3s;
}
#portfolio-main[class~="blur"] {
    filter: blur(2px);
    pointer-events: none;
}

/* Header do portfólio */
.portfolio-header {
    position: relative;
    height: 100vh;
    transition: all 0.3s;
}
.portfolio-header.light {
    background-color: rgb(220, 220, 220);
}
.portfolio-header.dark {
    background-color: rgb(20, 20, 20);
    background-image: radial-gradient(ellipse at top, rgba(0, 20, 150, 0.3) 0%, rgba(0, 0, 20, 1) 90%);
}


/* Cenário do header portfólio */
#portfolio-scenary {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Terra do cenário */
#scenary-earth {
    position: absolute;
    bottom: 75%;
    width: 70vw;
    transform: rotate(180deg);
    border: 3px solid rgba(32, 84, 255, 0.8);
    border-radius: 50%;
    filter: brightness(1.2) saturate(1.2) drop-shadow(0px 0px 2rem #2090ff);
    animation: ScenaryEarth 60s linear infinite;
    transition: all 0.3s;
}

@media screen and (max-width: 780px) {
    #scenary-earth {
        bottom: 80%;
    }
}

@keyframes ScenaryEarth {
    100% {
        transform: rotate(360deg);
    }
}

/* Lua do cenário */
#scenary-moon {
    position: absolute;
    top: 75vh;
    left: 15%;
    width: var(--moon-width);
    height: var(--moon-height);
    animation: ScenaryMoon 40s linear infinite;
    filter: brightness(0.9) drop-shadow(0px 0px 1rem #a0a0a0);
}

@keyframes ScenaryMoon {
    100% {
        transform: rotate(360deg);
    }
}

/* Satélite do cenário */
#scenary-satelite {
    position: absolute;
    top: 25%;
    left: 70%;
    width: 20px;
    height: 20px;
    animation: ScenarySatelite 1.5s ease-in-out infinite;
}

@keyframes ScenarySatelite {
    0%, 100% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg) translateY(-5px);
    }
}

@keyframes HeaderAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Div da barra de navegação */
.nav-div {
    position: fixed;
    z-index: 1;
    width: 100%;
}

/* Barra de navegação do portfolio */
.portfolio-nav {
    width: 100%;
    height: var(--nav-height);
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}
.portfolio-nav.light {
    background-color: rgb(220, 220, 220);
}
.portfolio-nav.dark {
    background-color: var(--theme-dark-color);
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.4);
}

/* Alinhar itens na barra de navegação */
.portfolio-nav-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Div das abas da barra de navegação */
.portfolio-abas-div {
    height: 100%;
}

/* Abas da barra de navegação */
.portfolio-abas {
    height: 100%;
}

/* Lista da barra de navegação */
.portfolio-abas-list {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

/* Botões da barra de navegação */
.nav-buttons {
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    font-size: 14pt;
    background: none;
    border: none;
    padding: 0 15px;
    transition: all 0.3s;
}
.nav-buttons.light {
    color: #000;
}
.nav-buttons.dark {
    color: #fff;
}

/* Textos dos botões da barra de navegação */
.nav-buttons-li {
    background-size: 100% 2px;
    background-position: 0 19px;
    background-repeat: no-repeat;
    font-size: 16px;
    transition: all 0.3s;
    border-radius: 5px;
}
@keyframes NavButtonLi {
    0% {
        background-size: 0% 2px;
    }
}

.theme-button-div {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .theme-button-div {
        display: none;
    }
}

/* Botão de mudar tema da página */
.theme-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: transparent;
    border: none;
}

/* Ícones dos botões de trocar tema */
.theme-buttons-icons {
    width: 30px;
    height: 30px;
}
.theme-buttons-icons.light {
    filter: invert(0.2);
}
.theme-buttons-icons.dark {
    filter: invert(0.8);
}

.theme-icons {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 30px;
    height: 30px;
    transition: all 0.2s;
}
/* Ícones dos temas */
.theme-icons[class~="hide"] {
    pointer-events: none;
    opacity: 0;
}

@keyframes buttonIconLightToDark {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* Introdução do portfolio */
.portfolio-intro {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

@media screen and (max-width: 800px) {
    .portfolio-intro {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-self: center;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

/* Sessão do título do portfolio */
#header-title-section {
    display: block;
    min-height: 25px;
}

/* Título do portfolio */
.header-titles {
    font-family: "Poppins";
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s;
}

.header-titles.light {
    color: #000;
    text-shadow: 1px 1px #fff;
}
/* Título do portfolio */
.header-titles.dark {
    color: #fff;
    text-shadow: 1px 1px #000;
}

/* Sessão do nome do portfolio */
#header-name-section {
    display: block;
    min-height: 48px;
}

/* Nome do portfolio */
.header-names {
    font-family: "Poppins";
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: introName 8s cubic-bezier(0, 0, 1, 1) 0.1s infinite;
    transition: all 0.3s;

}

.header-names.light {
    background-image: linear-gradient(135deg, rgba(20, 20, 100, 1) 0%, rgb(80, 80, 160, 1) 50%, rgba(20, 20, 100, 1) 100%);
}

.header-names.dark {
    background-image: linear-gradient(135deg, rgba(200, 200, 255, 1) 0%, rgb(80, 80, 160, 1) 50%, rgba(200, 200, 255, 1) 100%);
}

@keyframes introName {
    to {
        background-position: 400%;
    }
}

/* Sessão da descrição do portfolio */
#header-description-section {
    display: block;
    min-height: 64px;
}

/* Descrição do portfolio */
.header-descriptions {
    text-align: center;
    font-family: "Poppins";
    font-size: 14pt;
    margin: 5px 0;
    transition: all 0.3s;
}
.header-descriptions.light {
    color: #222;
}
.header-descriptions.dark {
    color: #fff;
}

/* Sessão do code do portfolio */
#header-code-section {
    display: block;
    min-height: 28px;
}

/* Linguagens de programação do portfolio */
.header-codes {
    text-align: center;
    font-family: "Poppins";
    font-size: 14pt;
    font-weight: bold;
    margin: 15px 0;
    transition: all 0.3s;
}

.header-codes.light {
    color: #202020;
}

.header-codes.dark {
    color: #c0c0c0;
}

/* Área de contatos da barra de navegação */
.header-contacts {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@media screen and (max-width: 768px) {
    .header-contacts {
        display: none;
    }
}

.contact-area {
    filter: grayscale(1);
    transition: all 0.3s;
}

.contact-area:hover {
    filter: grayscale(0);
    transform: translateY(-2px);
}

.contact-links {
    display: block;
    height: fit-content;
}

.header-contacts-images {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Sessão dos botões do portfolio */
.portfolio-intro-buttons-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Links dos botões */
.button-links {
    text-decoration: none;
}

/* Botões do portfolio */
.portfolio-intro-buttons {
    background-color: transparent;
    width: 8rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12pt;
    font-weight: 600;
    border: 0px solid;
    border-radius: 20px;
    transition: all 0.3s;
}
/*.portfolio-intro-buttons:hover {
    transform: scale(1.00);
}*/

/* Botão do LinkedIn */
.portfolio-intro-buttons#button-linkedin {
    background-color: none;
    color: rgba(15, 120, 170, 1);
    border: 2px solid rgba(15, 120, 170, 1);
}
.portfolio-intro-buttons#button-linkedin:hover {
    color: #fff;
    background-color: rgba(15, 120, 170, 1);
}

/* Botão do Github */
.portfolio-intro-buttons#button-github {
    background-color: none;
    color: rgba(12, 44, 60, 1);
    border: 2px solid rgba(12, 44, 60, 1);
}
.portfolio-intro-buttons#button-github[class~="dark"] {
    color: #fff;
}
.portfolio-intro-buttons#button-github:hover {
    color: #fff;
    background-color: rgba(12, 44, 60, 1);
}

/* Imagens dentro dos botões */
.button-images {
    width: 30px;
    border-radius: 50%;
    transition: all 0.3s;
}
.button-images#linkedin[class~="active"] {
    filter: grayscale(1) brightness(5);
}
.button-images#github[class~="active"] {
    filter: grayscale(1) brightness(7);
}

/* Div da imagem do portfólio */
.intro-image-div {
    width: 49%;
    max-width: 49%;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Link da imagem do portfólio */
#intro-image-link {
    border-radius: 50%;
}

/* Imagem do portfólio */
.portfolio-intro-image {
    pointer-events: all;
    border-radius: 50%;
    outline: 2px solid rgba(200, 200, 255);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    animation-name: portfolioImage;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-iteration-count: infinite;
    transition: all 0.3s;
}
.portfolio-intro-image:hover {
    transform: scale(1.05);
}

@keyframes portfolioImage {
    0% {
        border: 2px solid rgba(200, 200, 255);
    }
    50% {
        border: 2px solid rgba(150, 150, 255);
    }
    100% {
        border: 2px solid rgba(200, 200, 255);
    }
}

@media screen and (min-width: 800px) {
    /* Imagem do portfólio */
    .portfolio-intro-image {
        width: 350px;
    }
}

@media screen and (max-width: 800px) {
    /* Imagem do portfólio */
    .portfolio-intro-image {
        width: 250px;
    }
}

/* Div da seta do header */
.arrow-div {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Seta do header */
.arrow-image {
    width: 70px;
    height: 45px;
    transform: rotate(180deg);
    animation-name: arrowAnimation;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-iteration-count: infinite;
    transition: all 0.3s;
}
.arrow-image[class~="light"] {
    filter: invert(0.8) drop-shadow(0 0 8px rgba(0, 0, 0, 0.3));
}
.arrow-image[class~="dark"] {
    filter: invert(0.2) drop-shadow(0 0 8px rgba(0, 0, 0, 0.3));
}

@keyframes arrowAnimation {
    0% {
        transform: rotate(180deg) translateY(20px);
    }
    30% {
        transform: rotate(180deg) translateY(-10px);
    }
    100% {
        transform: rotate(180deg) translateY(20px);
    }
}

/* Aba sobre mim */
.portfolio-aboutme {
    width: 100%;
    transition: all 0.3s;
}
.portfolio-aboutme.light {
    background-color: #f0f0f0;
}
.portfolio-aboutme.dark {
    background-color: var(--theme-dark-color);
}

/* Principal da aba sobre mim */
.portfolio-aboutme-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Bloco da aba sobre mim */
.aboutme-container {
    width: 90%;
    height: 100%;
    border-radius: 15px;
    margin: 20px auto;
    transition: all 0.3s;
    background-size: 100% 100%;
}

/* Div sobre mim */
.portfolio-aboutme-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Título da aba sobre mim */
.portfolio-aboutme-title {
    text-align: center;
    font-family: "Poppins";
    font-size: 30pt;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
    margin: 50px 0 10px 0;
    transition: all 0.3s;
}
.portfolio-aboutme-title.light {
    color: #404080;
}
.portfolio-aboutme-title.dark {
    color: #a0b0ff;
}
@keyframes RevealTextLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
}
@keyframes RevealTextRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
}

/* Main principal da aba sobre mim */
#aboutme-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    #aboutme-main {
        flex-direction: column;
    }
}

/* Descrição da aba sobre mim */
#aboutme-description {
    text-align: center;
    font-family: "Poppins";
    font-size: 14pt;
    font-weight: 100;
    margin: 5px 0 20px 0;
    transition: all 0.3s;
}
#aboutme-description[class~="light"] {
    color: #606060;
}
#aboutme-description[class~="dark"] {
    color: #b0b0b0;
}

/* Div do separador */
#separator-div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Divs com todos os separadores */
#separators-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Círculos do separador */
.separator-circles {
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid var(--separator-color);
    border-radius: 50%;
}

/* Linhas do separador */
.separator-lines {
    position: relative;
    display: block;
    width: 1px;
    height: 150px;
    background-image: linear-gradient(0deg, var(--separator-color), transparent);
}

/* Linha do separador ligado com o currículo */
#separator-to-curriculum {
    background-image: linear-gradient(0deg, var(--curriculum-color-light), var(--separator-color));
}

/* Div da descrição do sobre mim */
.aboutme-description-div {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
    gap: 1rem;
}

@media screen and (max-width: 800px) {
    /* Div da descrição do sobre mim */
    .aboutme-description-div {
        width: 80%;
        font-size: 15pt;
        line-height: 1.5rem;
        padding-left: unset;
    }
}

/* Divs das descrições sobre mim */
.aboutme-divs {
    margin-left: 10%;
}

/* Cabeçalho das divs de descrições sobre mim */
.aboutme-header-divs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

/* Divs dos ícones das descrições sobre mim */
.aboutme-icon-divs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s;
}
.aboutme-icon-divs[class~="light"] {
    background-color: #f0f0f0;
    border: 1px solid #b0b0b0;
}
.aboutme-icon-divs[class~="dark"] {
    background-color: #404060;
    border: 1px solid #202040;
}

/* Ícones das descrições sobre mim */
.aboutme-icons {
    width: 25px;
    height: 25px;
    transition: all 0.3s;
}
.aboutme-icons[class~="dark"] {
    filter: invert(1);
}

/* Títulos das descrições sobre mim */
.aboutme-title-divs {
    font-size: 16pt;
    font-weight: bold;
}

/* Títulos das descrições sobre mim */
.aboutme-titles {
    font-size: 20px;
    font-family: "Poppins";
    text-align: center;
    margin: 0;
    transition: all 0.3s;
}
.aboutme-titles.light {
    color: #000;
}
.aboutme-titles.dark {
    color: #fff;
}

/* Divs dos textos das descrições sobre mim */
.aboutme-text-divs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Textos das descrições sobre mim */
.aboutme-texts {
    width: 80%;
    font-size: 15px;
    font-family: "Poppins";
    text-align: justify;
    margin: 0;
    transition: all 0.3s;
}
.aboutme-texts.light {
    color: #666;
}
.aboutme-texts.dark {
    color: #aaa;
}

/* Div das skills da aba sobre mim */
.portfolio-aboutme-skills-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 25px 0;
}

/* Divs das skills */
.skills-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 60px;
    margin: 5px;
    filter: grayscale(0.5);
    transition: all 0.3s;
}

.skills-divs:hover {
    cursor: pointer;
    transform: translateY(-2px);
    filter: grayscale(0) saturate(1.5);
}

.skills-divs div {
    opacity: 0;
    height: 20px;
    transition: all 0.3s;
}

.skills-divs:hover div {
    display: block;
    opacity: 1;
    background-color: rgb(40, 40, 40);
    padding: 0 5px;
    border-radius: 5px;
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 2px;
}

.skills-divs:hover img {
    transform: scaleY(10px);
}

/* Nomes das skills */
.skills-names {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 12pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

/* Imagens das skills da aba sobre mim */
.skills-images {
    width: 100%;
    animation-name: skillsAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes skillsAnimation {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

/* Div do botão de currículo */
#curriculo-div {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #separator-div {
        display: none;
    }

    .aboutme-header-divs {
        justify-content: center;
    }

    .aboutme-text-divs {
        width: 100%;
        justify-content: center;
    }

    .aboutme-texts {
        width: 100%;
    }

    #curriculo-div {
        position: unset;
    }
}

/* Link do currículo */
.curriculo-link {
    width: 160px;
    height: 40px;
    border-radius: 15px;
}

/* Botão do currículo */
.curriculo-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: "Poppins";
    font-size: 12pt;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
    border-radius: 25px;
    box-shadow: rgba(40, 40, 255, 0.3) 0px 0px 15px;
    transition: all 0.3s;
}
.curriculo-button[class~="light"] {
    color: #3050a0;
    border: 2px solid #3050a0;
}
.curriculo-button[class~="dark"] {
    color: #a0b0ff;
    border: 2px solid #a0b0ff;
}
.curriculo-button:hover {
    color: #fff;
}
.curriculo-button[class~="light"]:hover {
    background-color: #3050a0;
}
.curriculo-button[class~="dark"]:hover {
    background-color: #a0b0ff;
}

/* Conhecimentos */
#portfolio-knowledges {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.3s;
    margin: 20px auto;
}

@media screen and (max-width: 480px) {
    #portfolio-knowledges {
        width: 100%;
        margin: unset;
    }
}

/* Area dos conhecimentos */
#knowledges-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

/* Cabeçalho dos conhecimentos */
#knowledges-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Título do cabeçalho dos conhecimentos */
#knowledges-header-title {
    text-align: center;
    font-family: "Poppins";
    font-size: 30pt;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
    margin: 30px 0 10px 0;
    transition: all 0.3s;
}
#knowledges-header-title.light {
    color: #404080;
}
#knowledges-header-title.dark {
    color: #a0b0ff;
}

/* Descrição do cabeçalho dos conhecimentos */
#knowledges-header-description {
    text-align: center;
    font-family: "Poppins";
    font-size: 14pt;
    font-weight: 100;
    transition: all 0.3s;
}
#knowledges-header-description.light {
    color: #606060;
}
#knowledges-header-description.dark {
    color: #b0b0b0;
}

/* Principal div dos conhecimentos */
#knowledges-main-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 20px 0;
}

/* Divs dos conhecimentos */
.knowledges-divs {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

/* Divs à esquerda dos conhecimentos (textos) */
.knowledges-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 480px) {
    .knowledges-left {
        width: 100%;
    }
}

/* Textos de cada área de conhecimento */
.knowledges-articles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Áreas das divs dos ícones dos conhecimentos */
.knowledges-icon-areas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Divs dos ícones dos conhecimentos */
.knowledges-icon-divs {
    position: relative;
    width: var(--knowledges-icon-divs-width);
    height: var(--knowledges-icon-divs-height);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    margin-top: var(--knowledges-icon-divs-after-height);
    opacity: 1;
    transition: all 0.3s;
}
.knowledges-icon-divs:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.knowledges-icon-divs::after {
    content: "";
    position: absolute;
    top: calc(0% - var(--knowledges-icon-divs-after-height));
    left: calc(50% - 0.75px);
    display: block;
    width: 1.5px;
    height: var(--knowledges-icon-divs-after-height);
}
.knowledges-icon-divs[class~="light"] {
    background-color: #7090ff;
}

/* Front-end */
.knowledges-icon-divs#knowledges-div-front[class~="light"] {
    background-image: linear-gradient(90deg, var(--front-start-gradient), var(--front-end-gradient));
}
.knowledges-icon-divs#knowledges-div-front[class~="light"]::after {
    background-image: linear-gradient(0deg, var(--front-start-gradient), transparent);
}
.knowledges-icon-divs#knowledges-div-front[class~="dark"] {
    background-image: linear-gradient(90deg, var(--front-end-gradient), var(--front-start-gradient));
}
.knowledges-icon-divs#knowledges-div-front[class~="dark"]::after {
    background-image: linear-gradient(0deg, var(--front-end-gradient), transparent);
}

/* Back-end */
.knowledges-icon-divs#knowledges-div-back[class~="light"] {
    background-image: linear-gradient(90deg, var(--back-start-gradient), var(--back-end-gradient));
}
.knowledges-icon-divs#knowledges-div-back[class~="light"]::after {
    background-image: linear-gradient(0deg, var(--back-start-gradient), transparent);
}
.knowledges-icon-divs#knowledges-div-back[class~="dark"] {
    background-image: linear-gradient(90deg, var(--back-end-gradient), var(--back-start-gradient));
}
.knowledges-icon-divs#knowledges-div-back[class~="dark"]::after {
    background-image: linear-gradient(0deg, var(--back-end-gradient), transparent);
}

/* Database */
.knowledges-icon-divs#knowledges-div-db[class~="light"] {
    background-image: linear-gradient(90deg, var(--db-start-gradient), var(--db-end-gradient));
}
.knowledges-icon-divs#knowledges-div-db[class~="light"]::after {
    background-image: linear-gradient(0deg, var(--db-start-gradient), transparent);
}
.knowledges-icon-divs#knowledges-div-db[class~="dark"] {
    background-image: linear-gradient(90deg, var(--db-end-gradient), var(--db-start-gradient));
}
.knowledges-icon-divs#knowledges-div-db[class~="dark"]::after {
    background-image: linear-gradient(0deg, var(--db-end-gradient), transparent);
}

/* Tools */
.knowledges-icon-divs#knowledges-div-tools[class~="light"] {
    background-image: linear-gradient(90deg, var(--tools-start-gradient), var(--tools-end-gradient));
}
.knowledges-icon-divs#knowledges-div-tools[class~="light"]::after {
    background-image: linear-gradient(0deg, var(--tools-start-gradient), transparent);
}
.knowledges-icon-divs#knowledges-div-tools[class~="dark"] {
    background-image: linear-gradient(90deg, var(--tools-end-gradient), var(--tools-start-gradient));
}
.knowledges-icon-divs#knowledges-div-tools[class~="dark"]::after {
    background-image: linear-gradient(0deg, var(--tools-end-gradient), transparent);
}

.knowledges-icon-divs[class~="dark"] {
    background-color: #4050a0;
}
.knowledges-icon-divs[class~="click"] {
    box-shadow: #7090ff 0px 0px 3px;
}
@keyframes KnowledgesIcons {
    0% {
        opacity: 0;
        /*transform: scale(0);*/
        transform: translateY(calc(var(--knowledges-icon-divs-after-height) * -1));
    }
}
/* Ícones dos conhecimentos */
.knowledges-icons {
    width: 60%;
    height: 60%;
    transition: all 0.3s;
}
.knowledges-icons[class~="light"] {
    filter: invert(1);
}
.knowledges-icons[class~="dark"] {
    filter: invert(0);
}

/* Divs dos títulos dos conhecimentos */
.knowledges-title-divs {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Títulos dos conhecimentos */
.knowledges-titles {
    text-align: center;
    font-family: "Poppins";
    font-size: 16pt;
    font-weight: bold;
    transition: all 0.3s;
}
.knowledges-titles[class~="light"] {
    color: #000;
}
.knowledges-titles[class~="dark"] {
    color: #fff;
}

/* Divs das descrições dos conhecimentos */
.knowledges-description-divs {
    margin: 5px 0;
}

/* Descrições dos conhecimentos */
.knowledges-descriptions {
    text-align: center;
    font-family: "Poppins";
    transition: all 0.3s;
}
.knowledges-descriptions[class~="light"] {
    color: #666;
}
.knowledges-descriptions[class~="dark"] {
    color: #aaa;
}

/* Divs das descrições dos conhecimentos */
.knowledges-code-divs {
    width: 40%;
    margin: 5px 0;
}

/* Descrições dos conhecimentos */
.knowledges-code-titles {
    text-align: center;
    font-family: "Poppins";
    font-size: 12pt;
    transition: all 0.3s;
}
.knowledges-code-titles[class~="light"] {
    color: #000;
}
.knowledges-code-titles[class~="dark"] {
    color: #fff;
}

/* Divs das linguagens dos conhecimentos */
.knowledges-code-languages-divs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Divs das linguagens dos conhecimentos */
.knowledges-language-divs {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}
.knowledges-language-divs[class~="light"] {
    background-color: #c0c0c0;
}
.knowledges-language-divs[class~="dark"] {
    background-color: #202030;
}
.knowledges-language-divs::after {
    content: "";
    width: 100%;
    height: 0.3rem;
    position: absolute;
    display: block;
    bottom: -0.1rem;
    left: 0;
    background-color: #3060ff;
    background-image: linear-gradient(90deg, #3060ff, #0040b0, #3060ff);
    background-size: 200% 200%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    animation: LanguageDivs 3s linear infinite;
}
.knowledges-language-divs:hover {
    transform: scale(1.1);
    box-shadow: #3060ff80 0px 0px 1rem;
}
@keyframes LanguageDivs {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 400% 400%;
    }
}

.knowledges-languages-icons {
    min-width: 40px;
    height: 40px;
    border-radius: 5px;
}

/* Nomes das linguagens dos conhecimentos */
.knowledges-languages-names {
    font-family: "Poppins";
    font-size: 10pt;
    font-weight: bold;
    margin: 0;
    transition: all 0.3s;
}
.knowledges-languages-names[class~="light"] {
    color: #000;
    color: #3060ff;
}
.knowledges-languages-names[class~="dark"] {
    color: #fff;
    color: #3060ff;
}

/* Aba de projetos */
.portfolio-projects {
    width: 100%;
    transition: all 0.3s;
}
.portfolio-projects.light {
    background-color: #f0f0f0;
}
.portfolio-projects.dark {
    background-color: var(--theme-dark-color);
}
#portfolio-projects-header {
    /*background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: 100%;*/
    background-size: 100% 100%;
    transition: 0.3s all;
}

/* Cenário dos projetos do portfolio */
#portfolio-projects-background {
    pointer-events: none;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 200px;
    opacity: 0;
    transition: all 0.3s;
}

/* Principal da aba de projetos */
.portfolio-projects-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Título dos projetos do portfolio */
.portfolio-projects-title {
    text-align: center;
    font-family: "Poppins";
    font-size: 30pt;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
    margin: 50px 0 10px 0;
    transition: all 0.3s;
}
.portfolio-projects-title.light {
    color: #404080;
}
.portfolio-projects-title.dark {
    color: #a0b0ff;
}

/* Descrição dos projetos do portfolio */
.projects-main-descriptions {
    width: 80%;
    text-align: center;
    font-family: "Poppins";
    font-size: 12pt;
    font-weight: 100;
    margin: 5px 10% 20px 10%;
    transition: all 0.3s;
}
.projects-main-descriptions.light {
    color: #808080;
}
.projects-main-descriptions.dark {
    color: #a0a0a0;
}

/* Div da principal aba de projetos */
.portfolio-projects-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Div com todas as divs de imagens de projetos */
#projects-main-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 20px;
}

/* Div dos projetos */
.project-divs {
    width: 24rem;
    height: 12rem;
    outline: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: var(--project-links-border-radius);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    transition: all 0.3s;
}
.project-divs:hover {
    transform: scale(1.05);
}

/* Links dos projetos */
.project-links {
    width: 100%;
    height: 100%;
    border-radius: var(--project-links-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: 105% 100%;
    background-position: center;
    text-decoration: none;
    transition: all 0.3s;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes ProjectColors {
    0% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes projectLinksAnimation {
    0%, 100% {
        background-position: 0px;
    }
    50% {
        background-position: -20px;
    }
}

.project-links#project-link-0 {
    animation-name: projectLinksAnimation, backgroundChange0;
}

.project-links#project-link-1 {
    animation-name: projectLinksAnimation, backgroundChange1;
}

.project-links#project-link-2 {
    background-image: url("https://i.imgur.com/Iv7EmOJ.png");
    animation-name: projectLinksAnimation, backgroundChange2;
}

.project-links#project-link-3 {
    background-image: url("images/projects/calculadora/image\(0\).png");
    animation-name: projectLinksAnimation, backgroundChange3;
}

.project-links#project-link-4 {
    background-image: url("images/projects/calculapy/image\(0\).png");
    animation-name: projectLinksAnimation, backgroundChange4;
}

.project-links#project-link-5 {
    background-image: url("images/projects/gamecenter/image(0).png");
    animation-name: projectLinksAnimation, backgroundChange5;
}

.project-links#project-link-6 {
    background-image: url("images/projects/tictactoe/image(0).png");
    animation-name: projectLinksAnimation, backgroundChange6;
}

.project-links#project-link-7 {
    background-image: url("https://i.imgur.com/18nSHgM.png");
    animation-name: projectLinksAnimation, backgroundChange7;
}

.project-links#project-link-8 {
    background-image: url("https://i.imgur.com/c6xdwZ7.png");
    animation-name: projectLinksAnimation, backgroundChange8;
}

.project-links#project-link-9 {
    background-image: url("https://i.imgur.com/7Ku7iFz.png");
    animation-name: projectLinksAnimation, backgroundChange9;
}

.project-links#project-link-10 {
    background-image: url("https://i.imgur.com/xV8djkP.png");
    animation-name: projectLinksAnimation;
}

.project-links#project-link-11 {
    background-image: url("https://media.discordapp.net/attachments/1145459828005814333/1145459874327707688/image.png?width=928&height=473");
    animation-name: projectLinksAnimation, backgroundChange11;
}

.project-links#project-link-12 {
    background-image: url("images/projects/login/img_login\(0\).png");
    animation-name: projectLinksAnimation, backgroundChange12;
}

@keyframes backgroundChange0 {
    0%, 100% {
        background-image: url("images/projects/janny/img_janny\(0\).png");
    }
    25% {
        background-image: url("images/projects/janny/img_janny\(1\).png");
    }
    50% {
        background-image: url("images/projects/janny/img_janny\(2\).png");
    }
    75% {
        background-image: url("images/projects/janny/img_janny\(3\).png");
    }
}

@keyframes backgroundChange1 {
    0%, 100% {
        background-image: url("images/projects/ceon/image\(0\).png");
    }
    25% {
        background-image: url("images/projects/ceon/image\(1\).png");
    }
    50% {
        background-image: url("images/projects/ceon/image\(2\).png");
    }
    75% {
        background-image: url("images/projects/ceon/image\(3\).png");
    }
}

@keyframes backgroundChange2 {
    33% {
        background-image: url("https://i.imgur.com/WciaBU1.png");
    }
    67% {
        background-image: url("https://i.imgur.com/1EB2NLW.png");
    }
}

@keyframes backgroundChange3 {
    33% {
        background-image: url("images/projects/calculadora/image\(1\).png");
    }
    67% {
        background-image: url("images/projects/calculadora/image\(2\).png");
    }
}

@keyframes backgroundChange4 {
    50% {
        background-image: url("images/projects/calculapy/image\(1\).png");
    }
}

@keyframes backgroundChange5 {
    33% {
        background-image: url("images/projects/gamecenter/image(1).png");
    }
    67% {
        background-image: url("images/projects/gamecenter/image(2).png");
    }
}

@keyframes backgroundChange6 {
    25% {
        background-image: url("images/projects/tictactoe/image(1).png");
    }
    50% {
        background-image: url("images/projects/tictactoe/image(2).png");
    }
    75% {
        background-image: url("images/projects/tictactoe/image(3).png");
    }
}

@keyframes backgroundChange7 {
    33% {
        background-image: url("https://i.imgur.com/29kQWCw.png");
    }
    67% {
        background-image: url("https://i.imgur.com/8TQb8ck.png");
    }
}

@keyframes backgroundChange8 {
    50% {
        background-image: url("https://i.imgur.com/Y687Uip.png");
    }
}

@keyframes backgroundChange9 {
    25% {
        background-image: url("https://i.imgur.com/eXDFjNS.png");
    }
    50% {
        background-image: url("https://i.imgur.com/zOEUAGa.png");
    }
    75% {
        background-image: url("https://i.imgur.com/YJ0fMo8.png");
    }
}

@keyframes backgroundChange11 {
    50% {
        background-image: url("https://media.discordapp.net/attachments/1145459828005814333/1145459874558398474/image.png?width=1025&height=463");
    }
}

@keyframes backgroundChange12 {
    25% {
        background-image: url("images/projects/login/img_login\(1\).png");
    }
    50% {
        background-image: url("images/projects/login/img_login\(2\).png");
    }
    76% {
        background-image: url("images/projects/login/img_login\(3\).png");
    }
}

/* Cores dos projetos */
.project-colors {
    position: absolute;
    display: none;
}

/* Spans dos projetos */
.project-spans {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #f0f0f0;
    border-top-left-radius: var(--project-links-border-radius);
    border-top-right-radius: var(--project-links-border-radius);
    text-align: center;
    font-family: "Poppins";
    font-size: 16px;
    gap: 5px;
}

/* Imagens dos spans */
.project-spans-images {
    width: 20px;
    border-radius: 3px;
}

/* Div das linguagens de programação usadas */
.project-langs-div {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: var(--project-links-border-radius);
    border-bottom-right-radius: var(--project-links-border-radius);
}

/* Imagens das linguagens de programação */
.lang-images {
    width: 20px;
}
/*.lang-images[alt~="jQuery"] {
    background-color: #3050a0;
}*/


/* Botões principais dos projetos */
.project-main-buttons {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: var(--project-links-border-radius);
    transition: all 0.3s;
}

/* Botões dos projetos */
.project-buttons {
    width: 100%;
    height: 5rem;
    background-color: transparent;
    border: 0px solid #000;
    padding: 0;
}

/* Imagens dos projetos */
.projects-images {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

/* Header/cabeçalho dos projetos */
.project-header {
    position: absolute;
    height: 2rem;
    background-color: rgba(200, 0, 200, 1);
}

/* Footer do portfólio */
.portfolio-contacts {
    padding: 5% 0;
    transition: all 0.3s;
}
.portfolio-contacts.light {
    background-color: #e0e0e0;
}
.portfolio-contacts.dark {
    background-color: #05050a;
}

/* Div dos contatos */
.footer-contatos-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Div dos contatos */
#contatos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Itens da lista de contatos */
.contatos-items {
    width: 150px;
}

.contato-titles {
    width: 100%;
    text-align: center;
    font-family: "Poppins";
    transition: all 0.3s;
    margin-bottom: 0;
}
.contato-titles.light {
    color: #202020;
}
.contato-titles.dark {
    color: #f0f0f0;
}

.contato-subtitles {
    font-family: "Poppins";
    font-size: 12px;
    transition: all 0.3s;
    margin-bottom: 0;
}
.contato-subtitles.light {
    color: #000;
}
.contato-subtitles.dark {
    color: #a0a0a0;
}

@media screen and (max-width: 800px) {
    .contatos-list {
        width: 80%;
    }
}

/* Links dos contatos */
.contatos-links {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s;
}

.contatos-links:hover {
    transform: scale(1.1);
}

/* Imagens dos contatos */
.contato-images {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
}
.contato-images[class~="light"] {
    background-color: #c0c0c0;
}
.contato-images[class~="dark"] {
    background-color: #101020;
}

/* Divs dos textos de contato */
.contato-texts-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contatos-titles {
    font-family: "Poppins";
    font-size: 16px;
    margin: 0;
    transition: all 0.3s;
}
.contatos-titles[class~="light"] {
    color: #000;
}
.contatos-titles[class~="dark"] {
    color: #f0f0f0;
}

#mobile-theme-icon {
    width: 30px;
    height: 30px;
}
#mobile-theme-icon[class~="light"] {
    filter: invert(1);
}
#mobile-theme-icon[class~="dark"] {
    filter: invert(0);
}

@media screen and (min-width: 769px) {
    .portfolio-abas {
        display: block;
    }

    .portfolio-768px {
        display: none;
    }

    .nav-menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .portfolio-nav {
        height: 80px;
    }

    .arrow-div {
        display: none;
    }

    .portfolio-abas {
        display: none;
    }

    .portfolio-768px {
        display: block;
        height: 100%;
    }

    .open-nav-button-div {
        height: 100%;
    }

    .open-nav-button {
        width: 75px;
        height: 100%;
        border-width: 0px;
        transition: all 0.3s;
    }

    .open-nav-button.closed {
        background-color: transparent;
    }

    .open-nav-button.opened {
        background-color: #fff;
    }

    .open-nav-button-image {
        width: 30px;
        height: 30px;
        transition: all 0.3s;
    }
    .open-nav-button-image[class~="light"] {
        filter: invert(1);
    }
    .open-nav-button-image[class~="dark"] {
        filter: invert(0);
    }
    .open-nav-button-image.closed {
        filter: invert(0);
    }

    .open-nav-button-image.opened {
        filter: invert(1);
    }

    .nav-menu {
        position: absolute;
        width: 100%;
        height: calc(100vh - 80px);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
    .nav-menu.closed {
        display: none;
    }

    .menu-div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        border-radius: 10px;
    }
    .menu-div.light {
        background-color: rgba(220, 220, 220, 1);
    }
    .menu-div.dark {
        background-color: var(--theme-dark-color);
    }

    .menu-abas-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: auto;
        gap: 50px;
    }

    .mobile-nav-buttons {
        width: 100%;
        height: 50px;
        background-color: transparent;
        font-size: 24pt;
        font-family: "Poppins";
        font-weight: bold;
        text-decoration: none;
        border: none;
        transition: all 0.3s;
    }
    .mobile-nav-buttons.light {
        color: #000;
    }
    .mobile-nav-buttons.dark {
        color: #fff;
    }

    .aboutme-divs {
        margin-left: unset;
    }

    .knowledges-divs {
        flex-direction: column;
    }

    .knowledges-code-divs {
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    .intro-image-div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

    .header-descriptions {
        font-size: 5vw;
    }

    .aboutme-container {
        width: 100%;
    }

    .portfolio-intro-image {
        width: 80vw;
    }

    .knowledges-divs {
        flex-direction: column;
    }
}