@font-face {
    font-family: "Poppins";
    src: url("./fonts/font_Poppins.ttf");
}

:root {
    --nav-height: 50px;
    --font-color-categorie-0: #3060ff;
    --project-links-border-radius: 5px;
    --reveal-text-duration: 0.3s;
    --reveal-text-timing: ease-out;
}

h1, h3, a, p {
    color: #fff;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

img {
    pointer-events: none;
}

button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

/* Textos do modo claro */
.aboutme-texts {
    font-family: "Poppins";
    text-align: center;
    transition: all 0.3s;
}
/* Textos do modo claro */
.aboutme-texts.light {
    color: #000;
}
.dark-texts.dark {
    color: #fff;
}

/* Página de portfolio*/
.portfolio-page {
    margin: 0;
    padding: 0;
}

/* Header do portfólio */
.portfolio-header {
    height: 100vh;
    transition: all 0.3s;
}

.portfolio-header.light {
    background-color: rgb(220, 220, 220);
}

.portfolio-header.dark {
    background-color: rgb(20, 20, 20);
    background-image: radial-gradient(ellipse at bottom, rgba(0, 40, 200, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

@keyframes HeaderAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Div da barra de navegação */
.nav-div {
    position: fixed;
    z-index: 1;
    width: 100%;
}

/* Barra de navegação do portfolio */
.portfolio-nav {
    width: 100%;
    height: var(--nav-height);
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}
.portfolio-nav.light {
    background-color: rgb(220, 220, 220);
}
.portfolio-nav.dark {
    background-color: rgb(20, 20, 40);
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.4);
}

/* Alinhar itens na barra de navegação */
.portfolio-nav-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Div das abas da barra de navegação */
.portfolio-abas-div {
    height: 100%;
}

/* Abas da barra de navegação */
.portfolio-abas {
    height: 100%;
}

/* Lista da barra de navegação */
.portfolio-abas-list {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

/* Links da barra de navegação */
.abas-links {
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
    padding: 0 15px;
    transition: all 0.3s;
}

.abas-links.light {
    color: #000;
}

.abas-links.dark {
    color: #fff;
}

.theme-button-div {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .theme-button-div {
        display: none;
    }
}

/* Botão de mudar tema da página */
.theme-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: transparent;
    border: none;
}

/* Ícones dos botões de trocar tema */
.theme-buttons-icons {
    width: 30px;
    height: 30px;
}
.theme-buttons-icons.light {
    filter: invert(0.2);
}
.theme-buttons-icons.dark {
    filter: invert(0.8);
}

.theme-icons {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 30px;
    height: 30px;
    transition: all 0.2s;
}
/* Ícones dos temas */
.theme-icons[class~="hide"] {
    pointer-events: none;
    opacity: 0;
}

@keyframes buttonIconLightToDark {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* Introdução do portfolio */
@media screen and (min-width: 800px) {
    .portfolio-intro {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .portfolio-intro {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-self: center;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

/* Sessão do título do portfolio */
#header-title-section {
    display: block;
    min-height: 25px;
}

/* Título do portfolio */
.header-titles {
    font-family: "Poppins";
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

.header-titles.light {
    color: #000;
}

/* Título do portfolio */
.header-titles.dark {
    color: #fff;
}

/* Sessão do nome do portfolio */
#header-name-section {
    display: block;
    min-height: 48px;
}

/* Nome do portfolio */
.header-names {
    font-family: "Poppins", monospace;
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: introName 8s cubic-bezier(0, 0, 1, 1) 0.1s infinite;
}

.header-names.light {
    background-image: linear-gradient(135deg, rgba(20, 20, 100, 1) 0%, rgb(80, 80, 160, 1) 50%, rgba(20, 20, 100, 1) 100%);
}

.header-names.dark {
    background-image: linear-gradient(135deg, rgba(200, 200, 255, 1) 0%, rgb(80, 80, 160, 1) 50%, rgba(200, 200, 255, 1) 100%);
}

@keyframes introName {
    to {
        background-position: 400%;
    }
}

/* Sessão da descrição do portfolio */
#header-description-section {
    display: block;
    min-height: 64px;
}

/* Descrição do portfolio */
.header-descriptions {
    text-align: center;
    font-family: "Poppins";
    font-size: 12pt;
    margin: 5px 0;
}

.header-descriptions.light {
    color: #000;
}

.header-descriptions.dark {
    color: #fff;
}

/* Sessão do code do portfolio */
#header-code-section {
    display: block;
    min-height: 28px;
}

/* Linguagens de programação do portfolio */
.header-codes {
    text-align: center;
    font-family: "Poppins";
    font-size: 14pt;
    font-weight: bold;
    margin: 15px 0;
}

.header-codes.light {
    color: #202020;
}

.header-codes.dark {
    color: #c0c0c0;
}

/* Área de contatos da barra de navegação */
.header-contacts {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@media screen and (max-width: 768px) {
    .header-contacts {
        display: none;
    }
}

.contact-area {
    filter: grayscale(1);
    transition: all 0.3s;
}

.contact-area:hover {
    filter: grayscale(0);
    transform: translateY(-2px);
}

.contact-links {
    display: block;
    height: fit-content;
}

.header-contacts-images {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Sessão dos botões do portfolio */
.portfolio-intro-buttons-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Links dos botões */
.button-links {
    text-decoration: none;
}

/* Botões do portfolio */
.portfolio-intro-buttons {
    background-color: transparent;
    color: #fff;
    width: 8rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12pt;
    font-weight: 600;
    border: 0px solid;
    border-radius: 10px;
    transition: all 0.3s;
}

.portfolio-intro-buttons:hover {
    transform: scale(1.02);
}

/* Botão do LinkedIn */
.portfolio-intro-buttons#button-linkedin {
    background-color: rgba(15, 120, 170, 1);
}

/* Botão do Github */
.portfolio-intro-buttons#button-github {
    background-color: rgba(17, 15, 15, 1);
}

/* Imagens dentro dos botões */
.button-images {
    width: 30px;
    border-radius: 25%;
}

/* Div da imagem do portfólio */
.intro-image-div {
    width: 100%;
    display: contents;
}

/* Imagem do portfólio */
.portfolio-intro-image {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    animation-name: portfolioImage;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-iteration-count: infinite;
}

@keyframes portfolioImage {
    0% {
        border: 2px solid rgba(200, 200, 255);
    }
    50% {
        border: 2px solid rgba(150, 150, 255);
    }
    100% {
        border: 2px solid rgba(200, 200, 255);
    }
}

@media screen and (min-width: 800px) {
    /* Imagem do portfólio */
    .portfolio-intro-image {
        width: 350px;
    }
}

@media screen and (max-width: 800px) {
    /* Imagem do portfólio */
    .portfolio-intro-image {
        width: 250px;
    }
}

/* Div da seta do header */
.arrow-div {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Seta do header */
.arrow-image {
    width: 70px;
    height: 45px;
    filter: invert(0.5) drop-shadow(0 0 8px rgba(0, 0, 0, 0.3));
    transform: rotate(180deg);
    animation-name: arrowAnimation;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-iteration-count: infinite;
}

@keyframes arrowAnimation {
    0% {
        transform: rotate(180deg) translateY(20px);
    }
    30% {
        transform: rotate(180deg) translateY(-10px);
    }
    100% {
        transform: rotate(180deg) translateY(20px);
    }
}

/* Aba sobre mim */
.portfolio-aboutme {
    width: 100%;
    background-color: #f0f0f0;
    transition: all 0.3s;
}

.portfolio-aboutme.dark {
    width: 100%;
    background-color: #303030;
}

/* Principal da aba sobre mim */
.portfolio-aboutme-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Bloco da aba sobre mim */
.aboutme-container {
    width: 80%;
    height: 100%;
    border-radius: 15px;
    margin: 20px auto;
    transition: all 0.3s;
    background-size: 100% 100%;
}

.aboutme-container.light {
    background-color: #e0e0e0;
    /*background-image: linear-gradient(130deg, #e0e0e0, #c0c0c0);*/
}

.aboutme-container.dark {
    background-color: #404040;
    /*background-image: linear-gradient(130deg, #404040, #202020);*/
}

/* Div sobre mim */
.portfolio-aboutme-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Título da aba sobre mim */
.portfolio-aboutme-title {
    text-align: center;
    font-family: "Poppins";
    font-size: 30pt;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
    margin: 50px 0 10px 0;
    transition: all 0.3s;
}
.portfolio-aboutme-title.light {
    color: #404080;
}
.portfolio-aboutme-title.dark {
    color: #a0b0ff;
}
@keyframes RevealTextLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
}
@keyframes RevealTextRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
}

/* Descrição da aba sobre mim */
#aboutme-description {
    text-align: center;
    font-family: "Poppins";
    font-size: 14pt;
    font-weight: 100;
    margin: 5px 0 50px 0;
    transition: all 0.3s;
}
#aboutme-description[class~="light"] {
    color: #606060;
}
#aboutme-description[class~="dark"] {
    color: #b0b0b0;
}

@media screen and (min-width: 800px) {
    /* Div da descrição do sobre mim */
    .portfolio-aboutme-description-div {
        width: 80%;
        font-size: 14pt;
    }
}

@media screen and (max-width: 800px) {
    /* Div da descrição do sobre mim */
    .portfolio-aboutme-description-div {
        width: 80%;
        font-size: 15pt;
        line-height: 1.5rem;
    }
}

/* Div das skills da aba sobre mim */
.portfolio-aboutme-skills-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 25px 0;
}

/* Divs das skills */
.skills-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 60px;
    margin: 5px;
    filter: grayscale(0.5);
    transition: all 0.3s;
}

.skills-divs:hover {
    cursor: pointer;
    transform: translateY(-2px);
    filter: grayscale(0) saturate(1.5);
}

.skills-divs div {
    opacity: 0;
    height: 20px;
    transition: all 0.3s;
}

.skills-divs:hover div {
    display: block;
    opacity: 1;
    background-color: rgb(40, 40, 40);
    padding: 0 5px;
    border-radius: 5px;
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 2px;
}

.skills-divs:hover img {
    transform: scaleY(10px);
}

/* Nomes das skills */
.skills-names {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 12pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

/* Imagens das skills da aba sobre mim */
.skills-images {
    width: 100%;
    animation-name: skillsAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes skillsAnimation {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

/* Div do botão de currículo */
.portfolio-curriculo-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Link do currículo */
.curriculo-link {
    width: 160px;
    height: 40px;
    border-radius: 15px;
    margin-bottom: 30px;
}

/* Botão do currículo */
.curriculo-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: "Poppins";
    font-size: 12pt;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
    border-radius: 25px;
    box-shadow: rgba(40, 40, 255, 0.3) 0px 0px 15px;
    transition: all 0.3s;
}
.curriculo-button[class~="light"] {
    color: #3050a0;
    border: 2px solid #3050a0;
}
.curriculo-button[class~="dark"] {
    color: #a0b0ff;
    border: 2px solid #a0b0ff;
}
.curriculo-button:hover {
    color: #fff;
}
.curriculo-button[class~="light"]:hover {
    background-color: #3050a0;
}
.curriculo-button[class~="dark"]:hover {
    background-color: #a0b0ff;
}

/* Conhecimentos */
#portfolio-knowledges {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.3s;
    margin: 20px auto;
}
#portfolio-knowledges[class~="light"] {
    background-color: #e0e0e0;
}
#portfolio-knowledges[class~="dark"] {
    background-color: #404040;
}

/* Area dos conhecimentos */
#knowledges-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 20px 0;
}

/* Divs dos conhecimentos */
.knowledges-divs {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

/* Divs dos ícones dos conhecimentos */
.knowledges-icon-divs {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 1;
    transition: all 0.3s;
}
.knowledges-icon-divs[class~="light"] {
    background-color: #7090ff;
}
.knowledges-icon-divs[class~="dark"] {
    background-color: #4050a0;
}
@keyframes KnowledgesIcons {
    0% {
        opacity: 0;
        transform: scale(0);
    }
}
/* Ícones dos conhecimentos */
.knowledges-icons {
    width: 60%;
    height: 60%;
    transition: all 0.3s;
}
.knowledges-icons[class~="light"] {
    filter: invert(1);
}
.knowledges-icons[class~="dark"] {
    filter: invert(0);
}

/* Divs dos títulos dos conhecimentos */
.knowledges-title-divs {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Títulos dos conhecimentos */
.knowledges-titles {
    text-align: center;
    font-family: "Poppins";
    font-size: 16pt;
    font-weight: bold;
    transition: all 0.3s;
}
.knowledges-titles[class~="light"] {
    color: #000;
}
.knowledges-titles[class~="dark"] {
    color: #fff;
}

/* Divs das descrições dos conhecimentos */
.knowledges-description-divs {
    height: 100px;
    margin: 5px 0;
}

/* Descrições dos conhecimentos */
.knowledges-descriptions {
    text-align: center;
    font-family: "Poppins";
    transition: all 0.3s;
}
.knowledges-descriptions[class~="light"] {
    color: #000;
}
.knowledges-descriptions[class~="dark"] {
    color: #fff;
}

/* Divs das descrições dos conhecimentos */
.knowledges-code-divs {
    margin: 5px 0;
}

/* Descrições dos conhecimentos */
.knowledges-code-titles {
    text-align: center;
    font-family: "Poppins";
    font-size: 12pt;
    font-weight: bold;
    transition: all 0.3s;
}
.knowledges-code-titles[class~="light"] {
    color: #000;
}
.knowledges-code-titles[class~="dark"] {
    color: #fff;
}

/* Divs das linguagens dos conhecimentos */
.knowledges-code-languages-divs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Divs das linguagens dos conhecimentos */
.knowledges-language-divs {
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}
.knowledges-language-divs[class~="light"] {
    background-color: #c0c0c0;
}
.knowledges-language-divs[class~="dark"] {
    background-color: #505050;
}
.knowledges-language-divs::after {
    content: "";
    width: 100%;
    height: 0.3rem;
    position: absolute;
    display: block;
    bottom: -0.1rem;
    left: 0;
    background-color: #3060ff;
    background-image: linear-gradient(90deg, #3060ff, #0040b0, #3060ff);
    background-size: 200% 200%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    animation: LanguageDivs 3s linear infinite;
}
.knowledges-language-divs:hover {
    transform: scale(1.1);
}
@keyframes LanguageDivs {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 400% 400%;
    }
}

.knowledges-languages-icons {
    min-width: 40px;
    height: 40px;
}

/* Nomes das linguagens dos conhecimentos */
.knowledges-languages-names {
    font-family: "Poppins";
    font-size: 10pt;
    margin: 0;
    transition: all 0.3s;
}
.knowledges-languages-names[class~="light"] {
    color: #000;
}
.knowledges-languages-names[class~="dark"] {
    color: #fff;
}

/* Aba de projetos */
.portfolio-projects {
    width: 100%;
    background-color: #e0e0e0;
    transition: all 0.3s;
}

.portfolio-projects.dark {
    width: 100%;
    background-color: #202020;
}
#portfolio-projects-header {
    /*background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: 100%;*/
    background-size: 100% 100%;
    transition: 0.3s all;
}

/* Cenário dos projetos do portfolio */
#portfolio-projects-background {
    pointer-events: none;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
}

/* Principal da aba de projetos */
.portfolio-projects-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Título dos projetos do portfolio */
.portfolio-projects-title {
    text-align: center;
    font-family: "Poppins";
    font-size: 30pt;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
    margin: 50px 0 10px 0;
    transition: all 0.3s;
}
.portfolio-projects-title.light {
    color: #404080;
}
.portfolio-projects-title.dark {
    color: #a0b0ff;
}

/* Descrição dos projetos do portfolio */
.projects-main-descriptions {
    text-align: center;
    font-family: "Poppins";
    font-size: 14pt;
    font-weight: 100;
    margin: 5px 0 20px 0;
    transition: all 0.3s;
}
.projects-main-descriptions.light {
    color: #808080;
}
.projects-main-descriptions.dark {
    color: #a0a0a0;
}

/* Div da principal aba de projetos */
.portfolio-projects-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Div com todas as divs de imagens de projetos */
.portfolio-projects-images-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 20px;
}

/* Div das imagens de projetos */
.project-image-div {
    width: 20rem;
    height: 10rem;
    border-radius: var(--project-links-border-radius);
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 15px;
}

/* Links dos projetos */
.project-links {
    width: 100%;
    height: 100%;
    border: 1px solid #606060;
    border-radius: var(--project-links-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: 105%;
    background-position: center;
    text-decoration: none;
    transition: all 0.3s;
}
@keyframes ProjectColors {
    0% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes projectLinksAnimation {
    0%, 100% {
        background-position: 0px;
    }
    50% {
        background-position: -20px;
    }
}

.project-links#project-link-0 {
    animation-name: projectLinksAnimation, backgroundChange0;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.project-links#project-link-1 {
    animation-name: projectLinksAnimation, backgroundChange1;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.project-links#project-link-2 {
    background-image: url("https://i.imgur.com/Iv7EmOJ.png");
    animation-name: projectLinksAnimation, backgroundChange2;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.project-links#project-link-3 {
    background-image: url("https://i.imgur.com/lozWWOK.png");
    animation-name: projectLinksAnimation, backgroundChange3;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.project-links#project-link-4 {
    background-image: url("https://i.imgur.com/dbocrH3.png");
    animation-name: projectLinksAnimation, backgroundChange4;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.project-links#project-link-5 {
    background-image: url("https://i.imgur.com/AsTlPhd.png");
    animation-name: projectLinksAnimation, backgroundChange5;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.project-links#project-link-6 {
    background-image: url("https://i.imgur.com/C7zTRsC.png");
    animation-name: projectLinksAnimation, backgroundChange6;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.project-links#project-link-7 {
    background-image: url("https://i.imgur.com/18nSHgM.png");
    animation-name: projectLinksAnimation, backgroundChange7;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.project-links#project-link-8 {
    background-image: url("https://i.imgur.com/c6xdwZ7.png");
    animation-name: projectLinksAnimation, backgroundChange8;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.project-links#project-link-9 {
    background-image: url("https://i.imgur.com/7Ku7iFz.png");
    animation-name: projectLinksAnimation, backgroundChange9;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.project-links#project-link-10 {
    background-image: url("https://i.imgur.com/xV8djkP.png");
    animation-name: projectLinksAnimation;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes backgroundChange0 {
    0% {
        background-image: url("https://i.imgur.com/k9qMdZG.png");
    }
    25% {
        background-image: url("https://i.imgur.com/YlGGa9B.png");
    }
    50% {
        background-image: url("https://i.imgur.com/gTufGuR.png");
    }
    75% {
        background-image: url("https://i.imgur.com/aPbhfqz.png");
    }
    100% {
        background-image: url("https://i.imgur.com/k9qMdZG.png");
    }
}

@keyframes backgroundChange1 {
    0% {
        background-image: url("https://i.imgur.com/RAl4kqN.png");
    }
    25% {
        background-image: url("https://i.imgur.com/xsbuLvH.png");
    }
    50% {
        background-image: url("https://i.imgur.com/9QoMVmO.png");
    }
    75% {
        background-image: url("https://i.imgur.com/0qUzmtN.png");
    }
    100% {
        background-image: url("https://i.imgur.com/RAl4kqN.png");
    }
}

@keyframes backgroundChange2 {
    33% {
        background-image: url("https://i.imgur.com/WciaBU1.png");
    }
    67% {
        background-image: url("https://i.imgur.com/1EB2NLW.png");
    }
}

@keyframes backgroundChange3 {
    33% {
        background-image: url("https://i.imgur.com/GAnQf0Q.png");
    }
    67% {
        background-image: url("https://i.imgur.com/T3Oa4VI.png");
    }
}

@keyframes backgroundChange4 {
    33% {
        background-image: url("https://i.imgur.com/F4rzCXE.png");
    }
    67% {
        background-image: url("https://i.imgur.com/dbocrH3.png");
    }
}

@keyframes backgroundChange5 {
    33% {
        background-image: url("https://i.imgur.com/hvKTv99.png");
    }
    67% {
        background-image: url("https://i.imgur.com/a7c6xlq.png");
    }
}

@keyframes backgroundChange6 {
    33% {
        background-image: url("https://i.imgur.com/da3khU0.png");
    }
    67% {
        background-image: url("https://i.imgur.com/S40OAXM.png");
    }
}

@keyframes backgroundChange7 {
    33% {
        background-image: url("https://i.imgur.com/29kQWCw.png");
    }
    67% {
        background-image: url("https://i.imgur.com/8TQb8ck.png");
    }
}

@keyframes backgroundChange8 {
    50% {
        background-image: url("https://i.imgur.com/Y687Uip.png");
    }
}

@keyframes backgroundChange9 {
    25% {
        background-image: url("https://i.imgur.com/eXDFjNS.png");
    }
    50% {
        background-image: url("https://i.imgur.com/zOEUAGa.png");
    }
    75% {
        background-image: url("https://i.imgur.com/YJ0fMo8.png");
    }
}

.project-links:hover {
    transform: scale(1.01);
}

/* Cores dos projetos */
.project-colors {
    position: absolute;
    display: none;
}

/* Spans dos projetos */
.project-spans {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #f0f0f0;
    border-top-left-radius: var(--project-links-border-radius);
    border-top-right-radius: var(--project-links-border-radius);
    text-align: center;
    font-family: "Poppins";
    font-size: 12pt;
    gap: 5px;
}

/* Imagens dos spans */
.project-spans-images {
    width: 20px;
    border-radius: 3px;
}

/* Div das linguagens de programação usadas */
.project-langs-div {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: var(--project-links-border-radius);
    border-bottom-right-radius: var(--project-links-border-radius);
}

/* Imagens das linguagens de programação */
.lang-images {
    width: 25px;
}
/*.lang-images[alt~="jQuery"] {
    background-color: #3050a0;
}*/

/* Botões dos projetos */
.project-buttons {
    width: 100%;
    height: 5rem;
    background-color: transparent;
    border: 0px solid #000;
    padding: 0;
}

/* Imagens dos projetos */
.projects-images {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

/* Header/cabeçalho dos projetos */
.project-header {
    position: absolute;
    height: 2rem;
    background-color: rgba(200, 0, 200, 1);
}

/* Footer do portfólio */
.portfolio-contacts {
    padding: 5% 0;
    background-color: #a0a0a0;
    transition: all 0.3s;
}

.portfolio-contacts.dark {
    padding: 5% 0;
    background-color: #303030;
}

/* Div dos contatos */
.footer-contatos-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Div dos contatos */
.contatos-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.contato-titles {
    font-family: "Poppins";
    transition: all 0.3s;
}
.contato-titles.light {
    color: #404040;
}
.contato-titles.dark {
    color: #a0a0a0;
}

@media screen and (max-width: 800px) {
    .contatos-list {
        width: 80%;
    }
}

/* Links dos contatos */
.contatos-links {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s;
}

.contatos-links:hover {
    transform: scale(1.01);
}

/* Imagens dos contatos */
.contato-images {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 10px;
}

/* Divs dos textos de contato */
.contato-texts-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Títulos dos textos de contato */
.contato-titles {
    color: #f0f0f0;
    font-size: 8pt;
    margin: 0;
}

.contato-titles.light-texts {
    color: #606060;
    margin: 0;
}

.contato-titles {
    color: #b0b0b0;
    font-size: 8pt;
    margin: 0;
}

.contato-links-texts {
    color: #f0f0f0;
    font-family: "Poppins";
    font-size: 10pt;
    margin: 0;
}

@media screen and (min-width: 769px) {
    .portfolio-abas {
        display: block;
    }

    .portfolio-768px {
        display: none;
    }

    .nav-menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .arrow-div {
        display: none;
    }

    .portfolio-abas {
        display: none;
    }

    .portfolio-768px {
        display: block;
        height: 100%;
    }

    .open-nav-button-div {
        height: 100%;
    }

    .open-nav-button {
        width: 75px;
        height: 100%;
        border-width: 0px;
        transition: all 0.3s;
    }

    .open-nav-button.closed {
        background-color: transparent;
    }

    .open-nav-button.opened {
        background-color: #fff;
    }

    .open-nav-button-image {
        width: 30px;
        height: 30px;
        transition: all 0.3s;
    }
    .open-nav-button-image[class~="light"] {
        filter: invert(1);
    }
    .open-nav-button-image[class~="dark"] {
        filter: invert(0);
    }
    .open-nav-button-image.closed {
        filter: invert(0);
    }

    .open-nav-button-image.opened {
        filter: invert(1);
    }

    .nav-menu {
        width: 100%;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .nav-menu.closed {
        display: none;
    }

    .menu-div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }
    .menu-div.light {
        background-color: rgba(220, 220, 220, 1);
    }
    .menu-div.dark {
        background-color: rgba(20, 20, 40, 1);
    }

    .menu-abas-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: auto;
    }

    .menu-abas-links {
        width: 150px;
        height: 75px;
        margin: 10px 0;
        text-align: center;
    }

    .menu-abas-links.light {
        color: #000;
    }

    .menu-abas-links.dark {
        color: #fff;
    }

    .menu-abas-buttons {
        width: 100%;
        height: 100%;
        background-color: transparent;
        font-size: 18pt;
        font-family: "Poppins";
        font-weight: bold;
        text-decoration: none;
        border-width: 0px;
    }
    .menu-abas-buttons.light {
        color: #000;
    }
    .menu-abas-buttons.dark {
        color: #fff;
    }

    #menu-theme-button {
        width: 100px;
        text-align: center;
        padding: 25px;
    }
}

@media screen and (max-width: 480px) {
    .intro-image-div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

    .header-descriptions {
        font-size: 5vw;
    }

    .aboutme-container {
        width: 100%;
    }

    .portfolio-intro-image {
        width: 80vw;
    }
}