:root {
    --board-color-light: #fff;
    --board-color-dark: #282a36;
    --board-width: 480px;
    --board-height: 310px;
    --board-header-height: 30px;
    --board-header-border-color: #aaa;
    --board-file-width: 80px;
    --board-circles-width: 12px;
    --board-circles-height: 12px;
    --board-numbers-line-width: 25px;
    --board-line-height: 25px;
    --board-tab-width: 25px;
}

/* Boards de programação */
.code-boards {
    background-color: var(--board-color-dark);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2rem;
    width: var(--board-width);
    height: var(--board-height);
    transition: all 0.3s;
    animation: CodeBoardsHover 3s ease-in-out infinite;
}
.code-boards[class~="light"] {
    background-color: var(--board-color-light);
}

/* Animação das boards de programação */
@keyframes CodeBoardsHover {
    50% {
        transform: translateY(-3px);
    }
}

/* Alinhar círculos e nome de arquivo */
.board-header-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* Alinhar divs dos círculos */
.board-header-circle-divs {
    width: 80px;
    height: var(--board-header-height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-right: 1px solid var(--board-header-border-color);
    border-bottom: 1px solid var(--board-header-border-color);
    border-bottom-right-radius: 3px;
}

/* Círculos das boards */
.board-circles {
    display: block;
    width: var(--board-circles-width);
    height: var(--board-circles-height);
    border-radius: 50%;
}
.board-circles[class~="red"] {
    background-color: #f04040;
}
.board-circles[class~="yellow"] {
    background-color: #f0f040;
}
.board-circles[class~="green"] {
    background-color: #40f040;
}

/* Div da div dos nomes dos arquivos */
.board-header-filename-divs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--board-header-height);
}

/* Divs de cada nome dos arquivos */
.board-filename-buttons {
    background-color: var(--board-color-dark);
    width: var(--board-file-width);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: unset;
    border-bottom: 1px solid var(--board-header-border-color);
    transition: all 0.3s;
    filter: brightness(0.9);
}
.board-filename-buttons[class~="light"] {
    background-color: var(--board-color-light);
}
.board-filename-buttons[class~="selected"] {
    border-bottom: unset;
    filter: unset;
}

/* Nome dos arquivos */
.board-filenames {
    color: #eee;
    font-size: 12px;
    font-family: "Poppins";
    transition: all 0.3s;
}
.board-filenames[class~="light"] {
    color: #222;
}

/* Div vazia */
.board-empty-divs {
    display: block;
    width: calc(var(--board-width) - calc(var(--board-file-width) * 4));
    height: var(--board-header-height);
    border-left: 1px solid var(--board-header-border-color);
    border-bottom: 1px solid var(--board-header-border-color);
    border-bottom-left-radius: 3px;
}

/*
*
* Principal
*
*/
/* Corpo dos boards */
.code-board-bodies {
    width: 100%;
    height: calc(var(--board-height) - var(--board-header-height));
}

/* Alinhar números e código */
.board-body-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* Barra com as linhas de números dos boards */
.board-number-lines {
    width: var(--board-numbers-line-width);
    height: 100%;
    transition: all 0.3s;
}
.board-number-lines[class~="light"] {
    background-color: #f0f0f0;
}
.board-number-lines[class~="dark"] {
    background-color: #282a36;
}

/* Div de cada número */
.board-number-divs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Números das linhas de código */
.board-numbers {
    color: #888;
    font-size: 12pt;
    font-family: "Poppins";
    line-height: var(--board-line-height);
    text-align: center;
    margin: unset;
}

/*
* Código
*/

/* Div da área de código */
.board-code-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Os Códigos */
.board-codes {
    display: none;
    width: 100%;
    color: #000;
    font-size: 12pt;
    font-family: "Poppins";
    line-height: var(--board-line-height);
    margin-left: 5px;;
}
.board-codes[class~="show"] {
    display: block;
}
@media screen and (max-width: 768px) {
    .board-codes {
        font-size: 8pt;
    }
}

/* Span dos Códigos */
.board-code-spans {
    transition: all 0.3s;
}
.board-code-spans[class~="dark"] {
    color: #fff;
}


.board-code-span {
    transition: all 0.3s;
}
.board-code-span[class~="italic"] {
    font-style: italic;
}

/* Laranja - Preto */
.board-code-span[class~="orange-black"][class~="light"] {
    color: #f79f2e;
}
.board-code-span[class~="orange-black"] {
    color: #000;
}

/* Laranja - Branco */
.board-code-span[class~="orange-white"][class~="light"] {
    color: #f79f2e;
}
.board-code-span[class~="orange-white"] {
    color: #fff;
}

/* Ciano - Verde */
.board-code-span[class~="cyan-green"][class~="light"] {
    color: #73cfe6;
}
.board-code-span[class~="cyan-green"] {
    color: #64f041;
}

/* Ciano - Ciano */
.board-code-span[class~="cyan"] {
    color: #73cfe6;
}

/* Ciano - Azul */
.board-code-span[class~="cyan-blue"][class~="light"] {
    color: #73cfe6;
}
.board-code-span[class~="cyan-blue"] {
    color: #3d71c4;
}

/* Ciano - Rosa */
.board-code-span[class~="cyan-pink"][class~="light"] {
    color: #73cfe6;
}
.board-code-span[class~="cyan-pink"] {
    color: #f764c6;
}

/* Ciano - Roxo */
.board-code-span[class~="cyan-purple"][class~="light"] {
    color: #73cfe6;
}
.board-code-span[class~="cyan-purple"] {
    color: #b583d4;
}

/* Ciano - Branco */
.board-code-span[class~="cyan-white"][class~="light"] {
    color: #73cfe6;
}
.board-code-span[class~="cyan-white"] {
    color: #fff;
}

/* Marrom - Amarelo */
.board-code-span[class~="brown-yellow"][class~="light"] {
    color: #ab6443;
}
.board-code-span[class~="brown-yellow"] {
    color: #f7f564;
}

/* Marrom - Verde */
.board-code-span[class~="brown-green"][class~="light"] {
    color: #ab6443;
}
.board-code-span[class~="brown-green"] {
    color: #64f041;
}

/* Marrom - Rosa */
.board-code-span[class~="brown-pink"][class~="light"] {
    color: #ab6443;
}
.board-code-span[class~="brown-pink"] {
    color: #f764c6;
}

/* CSS */
.board-code-span[class~="yellow0"][class~="light"] {
    color: #ffbc11;
}
.board-code-span[class~="yellow0"] {
    color: #fff;
}

.board-code-span[class~="yellow1"][class~="light"] {
    color: #bda568;
}
.board-code-span[class~="yellow1"] {
    color: #f764c6;
}

.board-code-span[class~="yellow2"][class~="light"] {
    color: #bda568;
}
.board-code-span[class~="yellow2"] {
    color: #64f041;
}


/* Preto - Branco */
.board-code-span[class~="black-white"][class~="light"] {
    color: #000;
}
.board-code-span[class~="black-white"] {
    color: #fff;
}

/* Preto - Laranja */
.board-code-span[class~="black-orange"][class~="light"] {
    color: #000;
}
.board-code-span[class~="black-orange"] {
    color: #f79f2e;
}

/* Preto - Rosa */
.board-code-span[class~="black-pink"][class~="light"] {
    color: #000;
}
.board-code-span[class~="black-pink"] {
    color: #f764c6;
}

/* Preto - Verde */
.board-code-span[class~="black-green"][class~="light"] {
    color: #000;
}
.board-code-span[class~="black-green"] {
    color: #64f041;
}

/* Preto - Roxo */
.board-code-span[class~="black-purple"][class~="light"] {
    color: #000;
}
.board-code-span[class~="black-purple"] {
    color: #b583d4;
}


.board-code-span[class~="yellow-green"][class~="light"] {
    color: #f7f564;
}
.board-code-span[class~="yellow-green"] {
    color: #64f041;
}

/* Verde - Laranja */
.board-code-span[class~="green-orange"][class~="light"] {
    color: #64f041;
}
.board-code-span[class~="green-orange"] {
    color: #f79f2e;
}

/* Verde - Ciano */
.board-code-span[class~="green-cyan"][class~="light"] {
    color: #64f041;
}
.board-code-span[class~="green-cyan"] {
    color: #73cfe6;
}

/* Verde - Roxo */
.board-code-span[class~="green-purple"][class~="light"] {
    color: #64f041;
}
.board-code-span[class~="green-purple"] {
    color: #b583d4;
}

/* Azul - Rosa */
.board-code-span[class~="blue-pink"][class~="light"] {
    color: #3d71c4;
}
.board-code-span[class~="blue-pink"] {
    color: #f764c6;
}

/* Azul - Roxo */
.board-code-span[class~="blue-purple"][class~="light"] {
    color: #3d71c4;
}
.board-code-span[class~="blue-purple"] {
    color: #b583d4;
}

/* Roxo - Rosa */
.board-code-span[class~="purple-pink"][class~="light"] {
    color: #b583d4;
}
.board-code-span[class~="purple-pink"] {
    color: #f764c6;
}

@media screen and (max-width: 480px) {
    :root {    
        --board-file-width: 42%;
    }

    .code-boards {
        width: 95%;
    }

    .board-code-spans {
        line-height: 21px;
        font-size: 13px;
    }
}

.code-row {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
}