:root {
    --sparkle-button-light: #101010;
    --sparkle-button-dark: #e0e0e0;
}

.sparkle-button {
    align-items: center;
    background-color: var(--base-color);
    border-color: transparent;
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    height: 45px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    transition: all 0.3s ease;
    width: 120px;
}
.sparkle-button[class~="light"] {
    background-color: var(--sparkle-button-light);
}
.sparkle-button[class~="dark"] {
    background-color: var(--sparkle-button-dark);
}
.sparkle-button:hover {
    background-position: -5px;
    background-size: 100% 45px;
    box-shadow: 0px 0px 50px var(--base-color);
    transform: scale(1.1);
}
.sparkle-button[class~="light"]:hover {
    background-image: radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0.6), transparent);
    box-shadow: 0px 0px 50px var(--sparkle-button-light);
}
.sparkle-button[class~="dark"]:hover {
    background-image: radial-gradient(ellipse at bottom, rgba(200, 200, 200, 0.6), #fff);
    box-shadow: 0px 0px 50px var(--sparkle-button-dark);
}

.sparkle-button::after {
    background-image: linear-gradient(90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
    );
    background-position: -20px;
    background-repeat: no-repeat;
    background-size: 20px;
    border-radius: 50px;
    content: "";
    position: absolute;
    z-index: -1;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    animation: SparkleButtonGradient 1s linear infinite;
    animation-direction: normal;
}
.sparkle-button[class~="light"]::after {
    background-color: rgba(0, 0, 0, 0.3);
}
.sparkle-button[class~="dark"]::after {
    background-color: rgba(255, 255, 255, 0.3);
}
@keyframes SparkleButtonGradient {
    0% {
        background-position-x: -20px;
    }
    100% {
        background-position-x: calc(120px + 8px + 20px);
    }
}

.sparkle-button-icon {
    width: 20px;
    height: 20px;
    filter: brightness(10) hue-rotate(0deg);
    opacity: 0.7;
    transition: all 0.3s ease;
}
.sparkle-button-icon[class~="dark"] {
    filter: brightness(0) hue-rotate(0deg);
}
.sparkle-button:hover > .sparkle-button-icon {
    opacity: 1;
}

.sparkle-button-text {
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
    transition: all 0.3s ease;
}
.sparkle-button-text[class~="dark"] {
    color: #000;
}
.sparkle-button:hover > .sparkle-button-text {
    opacity: 1;
}