.theme-selector-div#desktop {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-selector-div#mobile {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .theme-selector-div#desktop {
        display: none;
    }
}

#theme-selector-flex {
    position: relative;
    width: 50px;
    height: 50px;
}

#theme-button {
    background: none;
    border: unset;
    width: 50px;
    height: 50px;
    transition: all ease;
    transition-duration: 0.5s;
}

#theme-icon {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    transition: all 0.3s ease;
}

.theme-menu {
    background-color: var(--base-color);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    position: absolute;
    z-index:-1;
    top: 100%;
    width: 190px;
    padding: calc(10px / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: calc(10px / 2);
    transition: all 0.3s ease;
}
.theme-menu[class~="closed"] {
    pointer-events: none;
    top: -100%;
}
@media screen and (min-width: 769px) {
    .theme-menu.mobile {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .theme-menu {
        right: 0%;
    }
}

.theme-options {
    background-color: rgb(70, 70, 85);
    border-color: var(--base-color);
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    outline: rgb(70, 70, 85) 2px solid;
}
.theme-options:active, .theme-options:focus {
    outline: rgb(70, 70, 85) 2px solid;
}

.theme-options-icons {
    width: 100%;
    height: 100%;
}