/* Sessão do nome do portfolio */
#name-section {
    display: block;
    min-height: 48px;
}

.typing-text-1 {
    color: rgb(255, 255, 255);
    font-family: "Poppins";
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    text-shadow: rgb(0, 0, 0) 1px 1px;
    transition: 0.3s;
}
.typing-text-1[class~="light"] {
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 1px 1px;
}

.typing-text-2 {
    font-family: "Poppins";
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    /*background-color: var(--base-color);*/
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, var(--base-color) 50%, rgba(0, 0, 0, 0) 100%);;
    background-size: 400%;
    background-clip: text;
    margin: 0;
    min-height: 75px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px var(--base-color);
    animation: introName 4s cubic-bezier(0, 0, 1, 1) 0.1s infinite;
    transition: all 0.3s ease;
}
.typing-text-2[class~="light"] {
    background-color: #000;
    -webkit-text-stroke: 2px #000;
}
.typing-text-2[class~="dark"] {
    background-color: #fff;
    -webkit-text-stroke: 2px #fff;
}

@keyframes introName {
    to {
        background-position: 400%;
    }
}

.typing-text-3 {
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0px;
    min-height: 35px;
    transition: 0.3s;
}
.typing-text-3[class~="light"] {
    color: rgb(32, 32, 32);
}
.typing-text-3[class~="dark"],
.typing-text-3[class~="red"],
.typing-text-3[class~="blue"] {
    color: rgb(208, 208, 208);
}